<h1>sign up</h1>
<form action="/users/create" method="POST">
<input type ="text" name="name" placeholder="Your Name"   required>
<input type ="text" name="email" placeholder="Your email"  required>
<input type ="password" name="password" placeholder="password"   required>
<input type ="password" name="confirm_password" placeholder="confirm-password"required>
<input type ="submit" name="button" placeholder="Your Name" required value="sign-up">

</form>